
#map-container {
	padding-bottom: 50px;
	height: 100%;
	width: 100%;
}

#map {
	position: relative;
	height: 98%;
	width: 70%;
	margin: 0 0 0 15%;
}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #eae2c7;
	text-align: center;
}


* {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
		font-family: 'Open Sans Condensed', sans-serif;
		letter-spacing: .075em;
}


.parallax {
		/* The image used */
		background-image: url(/static/imgs/boba_the_app_logo.svg);

		/* Set a specific height */
		min-height: 650px;

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}


.down-to-boba {
	position: absolute;
	bottom: 375px;
	z-index: 9;
	left: 395px;
	width: 40%;
}

.down-to-boba a{
	 color: black; 
}


.boba_and_straw {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}


.content {
	padding: 16px;
}

.shop-results {
	position: fixed;
	 top: 50px;
	 left: 2px;
	 width: 200px;
	 height: 500px;
	 border-style: solid;

}

.bfacts {
	position: fixed;
	 top: 50px;
	 right: 2px !important;
	 width: 200px;
	 height: 492px;
	 border-style: solid;
}

/* .shop-button{
	font-size: 1em;
} */


#floating-panel {
				position: absolute;
				top: 45px;
				left: 15%;
				z-index: 5;
				background-color: #fff;
				padding: 5px;
				border: 1px solid #999;
				text-align: center;
				font-family: 'Open Sans Condensed', sans-serif;
				line-height: 35px;
				padding-left: 10px;
}

#section-1 {
		margin-left: auto;
		margin-right: auto;
		width: 100px;
		background-color: whitesmoke;
		opacity: 1;
		padding-left: 15%;
		padding-right: 15%;
		padding-top: 5%;
		padding-bottom: 5%;

}

#scroll-space {
	height: 100%;
	opacity: 0;
	background: transparent;
	background-color: #eae2c7;
}

#section-2 {
		height: 200vh;
		min-height: 400px;
		overflow: hidden;
		position: relative;
		margin-bottom: 50px;
}



/* empty space after blurb and before boxes*/

#empty-space {
		width: 20%;
		min-height: 60px;
		box-sizing: border-box;

}

.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
/*  background: rgba(0, 0, 0, 1);*/
	border: none;
	border-radius: 0;
	color: #F41844;
	background-color: #eae2c7;
	font-family: 'Open Sans Condensed', sans-serif;
/*  font-size: 18px;*/
/*  padding-bottom: 15px;*/
	z-index: 5;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
	color: black;
}

h1 {
font-family: 'Open Sans Condensed', sans-serif;
}

#footer {
	height: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 1em;
	 padding-bottom: 0em;
	background-color: #F41844;
	text-align: center;
	position: fixed;
		line-height: 0;
}

.bottom-nav {
		font-size: 20px;
		font-family: 'Open Sans Condensed', sans-serif;
		float: right;
		padding-right: 10px;
		padding-bottom:20px;
		color: black;
}

.bottom-nav a {
 color: black !important;
 font-family: 'Open Sans Condensed', sans-serif;
}
