{% import 'footer.html' as footer %}

<!DOCTYPE HTML>
<html>
		<head>
		<link href="/static/style.css" type="text/css" rel="stylesheet">
				<meta charset="utf-8">
				<meta name="Boba, The App" content= "Original content by Kbh">
				<title>Boba, The App</title>
				<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
				<script src="/static/milky.js"></script>
		</head>
<div id="navbar">
<h1 class="homepage-header"><a href="/boba-map">Are you D.T.B.?</a></h1>

</div>


<body>

	<div class="parallax">

	<div class="scrollingdiv">
			<div id="section-2">
					<div id="scroll-space"></div>
					<a href="#">click me 2</a>
					<img class="boba_and_straw" src="/static/imgs/boba_background.png" alt="bubbles & straw">
					<br>
			{{ footer.footer(logged_in) }}
		</div>
</div>

</body>
</html>
